
<div class="container-fluid" style="height: 400px;overflow-y: overlay;">
  <div class="panel panel-primary">
      <div class="tableHeading">
        <div class="floatRight">Issues of User </div>
      </div>        
          <table class="table table-striped table-bordered" style="table-layout: fixed;font-size: 14px;">               
              <thead>
                <tr>
                  <th *ngFor="let col of issueColumns">{{col}}</th>
                    <th *ngFor="let action of actionColumns">{{action}}</th>
                </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let issue of issues"> 
                    <td>{{issue.issueId}}</td>
                    <td>{{issue.userId}}</td>
                    <td>{{issue.bookId}}</td>
                      <td> <i class="fa fa-trash" style="cursor: pointer;" (click)="delete(issue);getIssuesOfUserById(issue.userId)"></i></td>
                    <tr *ngIf="(issues.length == 0)">
                          <td [attr.colspan]="issueColumns.length + actionColumns.length">No Records Found</td>
                    </tr>
              </tbody>
            </table>
           
      
    </div>
      
 </div>



 