<div style="width:430px;padding-left:30px;">
    <form autocomplete="off" #f="ngForm">
      <div class="form-group" *ngIf="isEdit">
            <label for="id">User Id</label>
            <input id="id" class="form-control" type="text" name="id" [(ngModel)]="user.userId" [disabled]="isEdit">
      </div>
      <div class="form-group">
        <label for="username">User Name <span style="color: red;">*</span></label>
        <input id="username" class="form-control" type="text" name="name" [(ngModel)]="user.name" required>
      </div>
      <div class="form-group">
        <label for="emailId">Email Id <span style="color: red;">*</span></label>
        <input id="emailId" class="form-control" type="text" name="emailId" [(ngModel)]="user.emailId" required>
      </div>
      
     
      <button class="btn btn-primary" type="submit" (click)="saveUser()" [disabled]="loader.isLoaderDisplay || !f.valid">Save User<div style="width:18px;height:18px;"class="spinner-border" *ngIf="loader.isLoaderDisplay"></div> 
        
      </button>
      <button class="btn btn-danger" type="reset" style="margin-left : 10px;" [disabled]="isEdit">Reset</button>
    </form>
  </div>
