<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="tableHeading">
          <div class="floatLeft">
            <input id="searchInput" type="text" name="searchInput"  placeholder="Search by BookId/Name" style="border: none;outline-color: #719ECE;" autocomplete="off">
          </div>
          <div class="floatRight"> {{tableHeading}} </div>
        </div>     
    <table class="table table-striped table-bordered" style="table-layout: fixed;font-size: 14px;">
        <thead>
            <tr>
                <th *ngFor="let col of columns">{{col}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let key of keys">
                    {{row[key]}}
                  </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>