.thead-light th {
    color: #ffffff;
    background-color: #122f48;
    border-color: #122f48;
}

.tableHeading{
    background-color: #122f48;
    padding: 10px;
    color: white;
}

.floatLeft{
    float: left;
}

.floatLeft{
    float: right;
}

.thStyle{
    font-size: 12px;
    background-color: #122f48;
    border-top-color: #122f48;
}

.selectBoxStyle {
    width: auto;
    padding: 4px;
    margin-right: 10px;
    /*padding: 6px 12px;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    outline-color: #719ECE;
    border:none;
}
input[name='searchInput']::placeholder{
    text-align: center;
    font-size : 14px;
}