<div class="container-fluid">
  

      <div class="container-fluid">
          <div style="padding-top :20px;">
              <button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#myModal" (click)="create()"> <i class="fa fa-plus-square" aria-hidden="true"></i> Add Issue</button>
          </div> 
      </div>
      
      <div style="margin-top:75px;">
       <!--
        <app-table [isLoaderDisplay]="isLoaderDisplay" [isFilterDisplay]="false"
  [searchColumns]="searchColumns" [keys]="keys" [columns]="userColumns" [tableHeading]="tableHeading" [rows]="users" [actionColumn]="actionColumn"></app-table>
  -->
  
  <div class="container-fluid" style="height: 400px;overflow-y: overlay;">
      <div class="panel panel-primary">
          <div class="tableHeading">
            <div class="floatLeft">
               
              <input id="searchInput" type="text" name="searchInput" [(ngModel)]="searchText" placeholder="Search by IssueId/userId" style="border: none;outline-color: #719ECE;width:300px;text-align: center;" autocomplete="off">
            </div>
            <div class="floatRight">Issue Details <div style="width:18px;height:18px;"class="spinner-border" *ngIf="loader.isLoaderDisplay"></div> </div>
          </div>        
              <table class="table table-striped table-bordered" style="table-layout: fixed;font-size: 14px;">               
                  <thead>
                    <tr>
                      <th *ngFor="let col of issueColumns">{{col}}</th>
                        <th *ngFor="let action of actionColumns">{{action}}</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let issue of issues | search : searchText : searchColumns"> 
                        <td>{{issue.issueId}}</td>
                        <td>{{issue.userId}}</td>
                        <td>{{issue.bookId}}</td>
                          <td> <i class="fa fa-pencil" aria-hidden="true"  data-toggle="modal" data-target="#myModal" style="cursor: pointer;" ></i></td>
                          <td> <i class="fa fa-trash" style="cursor: pointer;" (click)="delete(issue)"></i></td>
                        <tr *ngIf="(issues.length == 0) || (issues | search : searchText : searchColumns).length == 0">
                              <td [attr.colspan]="issueColumns.length + actionColumns.length">No Records Found</td>
                        </tr>
                  </tbody>
                </table>
               
          </div>
        </div>
  
      </div>      
     </div>
  
  
     <!-- Trigger the modal with a button -->
  
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{dialogTitle}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
           
          </div>
          
          <div class="modal-footer">       
            <button type="button" id="closePopup" class="btn btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
    
    <router-outlet></router-outlet>
