<div style="width:430px;padding-left:30px;">
    <form autocomplete="off" #f="ngForm">
      <div class="form-group" *ngIf="isEdit">
            <label for="id">Book Id</label>
            <input id="id" class="form-control" type="text" name="id" [(ngModel)]="book.id" [disabled]="isEdit">
      </div>
      <div class="form-group">
        <label for="bookname">Book Name <span style="color: red;">*</span></label>
        <input id="bookname" class="form-control" type="text" name="bookname" [(ngModel)]="book.title" required>
      </div>
      <div class="form-group">
        <label for="authorname">Author Name <span style="color: red;">*</span></label>
        <input id="authorname" class="form-control" type="text" name="authorname" [(ngModel)]="book.author" required>
      </div>
      <div class="form-group">
          <label for="category">Genre <span style="color: red;">*</span></label>
          <input id="genre" class="form-control" type="text" name="genre" [(ngModel)]="book.genre" required>
      </div>
     
      <button class="btn btn-primary" type="submit" (click)="saveBook()" [disabled]="loader.isLoaderDisplay || !f.valid">Save Book<div style="width:18px;height:18px;"class="spinner-border" *ngIf="loader.isLoaderDisplay"></div> 
        
      </button>
      <button class="btn btn-danger" type="reset" style="margin-left : 10px;" [disabled]="isEdit">Reset</button>
    </form>
  </div>
  