<div class="container-fluid">
      <div class="container-fluid">
          <div style="padding-top :20px;">
              <button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#myModal" (click)="create()"> <i class="fa fa-plus-square" aria-hidden="true"></i> Add User</button>
          </div> 
      </div>
  
      
      <div style="margin-top:75px;">
       <!--
        <app-table [isLoaderDisplay]="isLoaderDisplay" [isFilterDisplay]="false"
  [searchColumns]="searchColumns" [keys]="keys" [columns]="userColumns" [tableHeading]="tableHeading" [rows]="users" [actionColumn]="actionColumn"></app-table>
  -->
  
  <div class="container-fluid" style="height: 400px;overflow-y: overlay;">
      <div class="panel panel-primary">
          <div class="tableHeading">
            <div class="floatLeft">
               
              <input id="searchInput" type="text" name="searchInput" [(ngModel)]="searchText" placeholder="Search by UserId/UserName" style="border: none;outline-color: #719ECE;width:300px;text-align: center;" autocomplete="off">
            </div>
            <div class="floatRight">User Details </div>
          </div>        
              <table class="table table-striped table-bordered" style="table-layout: fixed;font-size: 14px;">               
                  <thead>
                    <tr>
                      <th *ngFor="let col of userColumns">{{col}}</th>
                        <th *ngFor="let action of actionColumns">{{action}}</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let user of users | search : searchText : searchColumns"> 
                        <td>{{user.userId}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.emailId}}</td>
                        <td> <div style="padding-top :20px;">
                          <button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#issueModal"  (click)="getUserId(user)" > <i class="fa fa-plus-square" aria-hidden="true"></i>  Issue Book</button>
                      </div></td>
                      <td> <div style="padding-top :20px;">
                        <button type="button" class="btn btn-info btnMargin" data-toggle="modal" data-target="#userIssueModal" (click)="getIssuesOfUser(user)" > View Issues </button>
                    </div></td>
                          <td> <i class="fa fa-pencil" aria-hidden="true"  data-toggle="modal" data-target="#myModal" style="cursor: pointer;" (click)="update(user)"></i></td>                          
                          <td> <i class="fa fa-trash" style="cursor: pointer;" (click)="delete(user)"></i></td>
                        <tr *ngIf="(users.length == 0) || (users | search : searchText : searchColumns).length == 0">
                              <td [attr.colspan]="userColumns.length + actionColumns.length">No Records Found</td>
                        </tr>
                  </tbody>
                </table>
               
          </div>
        </div>
  
      </div>      
     </div>
  
  
     <!-- Trigger the modal with a button -->
  <!-- Modal -->
  <div id="issueModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add Issue to User</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
           
          </div>
          <div class="modal-body">
            <div style="width:430px;padding-left:30px;">
              <form autocomplete="off" #f="ngForm">
                <div class="form-group">
                  <label for="bookIdToIssue">Book Id<span style="color: red;">*</span></label>
                  <input [(ngModel)] = "bookIdToIssue"
                     type="number" class="form-control"
                     name="bookIdToIssue" id="bookIdToIssue"
                     >
                  
                </div>  
                <button class="btn btn-primary" type="submit" (click)="issueBook()" [disabled]="loader.isLoaderDisplay || !f.valid">Save Issue<div style="width:18px;height:18px;"class="spinner-border" *ngIf="loader.isLoaderDisplay"></div> 
                </button>
                <button class="btn btn-danger" type="reset" style="margin-left : 10px;" [disabled]="isEdit">Reset</button>
              </form>
            </div>

          </div>
          <div class="modal-footer">       
            <button type="button" id="closePopup" class="btn btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{dialogTitle}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
           
          </div>
          <div class="modal-body">
           <app-user [user]="selectedUser" [isEdit]="isEdit" (saveEvent)="saveUserAck($event)"></app-user>
          </div>
          <div class="modal-footer">       
            <button type="button" id="closePopup" class="btn btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>

    <!-- Modal -->
  <div id="userIssueModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Issues of the User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         
        </div>
        <div class="modal-body">
         <app-users-issues  [user]="selectedUser"></app-users-issues>
        </div>
        <div class="modal-footer">       
          <button type="button" id="closePopup" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
  
    <router-outlet></router-outlet>