<div class="row backgroudColor">
   <nav class="navbar navbar-expand-lg">
     
       <a class="navbar-brand">Library Management System</a>
       <div class="collapse navbar-collapse menuRight" id="collapsibleNavId">
        <ul class="navbar-nav">
         
            <li class="nav-item" >
              <a class="nav-link" routerLink="/books" routerLinkActive="active" style="cursor: pointer"> Books</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="/users" routerLinkActive="active" style="cursor: pointer"> Users</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="/circulations" routerLinkActive="active" style="cursor: pointer"> Ciruclations</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link"  (click)="logOut()" style="cursor: pointer"> <i class="fa fa-sign-out-alt" style="cursor: pointer"></i> Logout</a>
            </li>

          
           </ul>
      </div>
   </nav>
  </div>
  